<div class="column-layout group">
  <igx-list #list class="list" >
    
    <igx-list-item 
    
    (click)="onItemClicked(item)" [isHeader]="false" 
    *ngFor="let item of revealDashboardsListDashboards"
      [ngClass]="item.selected ? 'selected' : ''" #item
      igxRipple
      igxRippleTarget=".igx-list__item-content"
      >
      <span igxListThumbnail>
        <igx-avatar [src]="item.ThumbnailURL" [roundShape]="true"></igx-avatar>
      </span>
      <span igxListLineTitle>{{ item.Title }}</span>
      <span igxListLineSubTitle>{{ item.AddedBy }}</span>
      <span igxListAction>
        <igx-icon class="icon">
          star
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout group_1">
  <div #revealView style='height: calc(100vh - 115px); width: 100%; position:relative;'></div>
</div>
